<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{{ TITLE }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&amp;family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22&gt;{% if settings.DEBUG %}&lt;style&gt;text { filter: hue-rotate(173deg) saturate(1.1) contrast(0.9); }&lt;/style&gt;{% endif %}&lt;text y=%22.9em%22 font-size=%2290%22&gt;&#x1F3AC;&lt;/text&gt;&lt;/svg&gt;">
  <link href="{{ static("styles.css") }}" rel="stylesheet">
  {% if DEBUG %}
    {# Polka dot background when DEBUG mode is on #}
    <style>
      body {
        background-image: radial-gradient(hsl(var(--b2)) 0%, transparent 45%),
            radial-gradient(hsl(var(--b2)) 0%, transparent 45%);
        background-position: 0 0, 50px 50px;
        background-size: 100px 100px;
      }
    </style>
  {% endif %}
  <script src="{{ static("script.js") }}" defer></script>
  <script>
    const DATA = {
      DEBUG: {{ DEBUG|scriptjson }},
      DOMAIN_NAME: {{ DOMAIN_NAME|scriptjson }},
      WEBSOCKET_URL_DEV_OVERRIDE: {{ WEBSOCKET_URL_DEV_OVERRIDE|default(null)|scriptjson }}
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/{{ ICONIFY_VERSION }}/iconify.min.js"></script>
</head>
<body class="h-screen-iphone-fix overflow-hidden">
  <div x-data x-title="connect" x-show="!$store.conn.connected">
    {% include "connect.njk" %}
  </div>

  <div
    x-data
    x-title="app"
    class="flex flex-col h-screen-iphone-fix overflow-hidden max-w-screen-md mx-auto"
    x-show="$store.conn.connected"
    x-cloak
  >
    {% include "player.njk" %}
  </div>
</body>
</html>
