<div class="flex flex-col flex-1">
  <template
    x-for="(video, index) in $store.player.videos"
    :key="`${video.title}:${video.description}:${video.isRRated}:${video.duration}`"
  >
    <div
      class="odd:bg-base-200 px-2 py-2"
      x-data="{
        edit: false,
        titleEdit: '',
        descriptionEdit: '',
        isRRatedEdit: false,
        isPlaying() {
          return $store.player.currentlyPlaying === video.path
        },
        isRRatedDisabled() {
          return video.isRRated && !$store.player.playRRated
        },
        resetEdit(edit = true) {
          this.edit = edit
          this.titleEdit = video.title
          this.descriptionEdit = video.description
          this.isRRatedEdit = video.isRRated
        },
        update() {
          $store.player.update(video.path, {
            title: this.titleEdit || video.title,
            description: this.descriptionEdit,
            isRRated: this.isRRatedEdit
          })
          this.edit = false
        }
      }"
      :class="{
          '!bg-secondary': isPlaying(),
          'hover:bg-base-300': !isPlaying() && !isRRatedDisabled(),
          'cursor-pointer': !edit && !isPlaying() && !isRRatedDisabled()
      }"
      @click="if (!edit && !isPlaying() && !isRRatedDisabled()) { $store.player.play(video.path) }"
    >
      <p
        class="flex items-center"
        @click.stop="if (!isPlaying() && !isRRatedDisabled()) { $store.player.play(video.path) }"
        :class="{'cursor-pointer': !isPlaying() && !isRRatedDisabled()}"
      >
        <span
          class="grow flex items-center gap-1.5 md:gap-2 text-sm md:text-base pr-2.5"
          :class="{'text-gray-500': !isPlaying() && isRRatedDisabled()}"
        >
          <span class="italic font-bold" x-text="`${index + 1}.`"></span>
          <span class="italic font-bold grow" x-text="video.title"></span>
          <span x-show="video.isRRated" class="badge badge-sm md:badge-md badge-error">R</span>
          <span
            class="badge badge-sm md:badge-md badge-accent"
            x-show="video.duration > 0"
            x-text="$store.player.formatDuration(video.duration)"
          ></span>
        </span>

        <button class="btn btn-xs btn-ghost btn-square" @click.stop="resetEdit(true)" x-show="!edit">
          <span class="iconify h-6 w-6" data-icon="mdi:lead-pencil"></span>
        </button>
      </p>
      <p class="mt-1 text-sm" x-show="!edit && video.description" x-text="video.description"></p>

      <div x-show="edit">
        <div class="form-control">
          <label class="label gap-2">
            <span class="label-text font-bold">Path:</span>
            <input type="input" class="input input-sm md:input-md input-primary grow" disabled :value="video.path">
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer gap-2">
            <span class="label-text font-bold">Title:</span>
            <input type="input" class="input input-sm md:input-md input-primary grow" x-model="titleEdit">
          </label>
        </div>

        <div class="form-control">
          <label class="label flex-col cursor-pointer items-start gap-2">
            <span class="label-text font-bold">Description:</span>
            <textarea
              class="textarea textarea-sm md:textarea-md textarea-primary h-16 md:h-24 self-stretch"
              x-model="descriptionEdit"
              placeholder="Enter a description or leave empty..."
            ></textarea>
          </label>
        </div>

        <div class="form-control">
          <label class="label self-start cursor-pointer justify-start gap-3">
            <span class="label-text font-bold">Is Rated <span style="undliner">R</span>?</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary" x-model="isRRatedEdit">
          </label>
        </div>

        <div class="flex justify-center gap-1 mt-2">
          <button class="btn btn-success" @click.stop="update()">Save</button>
          <button class="btn btn-error" @click.stop="resetEdit(false)">Discard</button>
        </div>
      </div>
    </div>
  </template>
</div>
