<div class="flex flex-col flex-1">
  <template
    x-for="video in $store.player.videos"
    :key="`${video.title}:${video.description}:${video.isRRated}:${video.image}:${video.duration}`"
  >
    <div
      class="odd:bg-base-200 px-2 py-2"
      x-data="playlistItem(video)"
      :id="`playlist-item-${video.path}`"
      :class="{
          '!bg-secondary': isPlaying(),
          'hover:bg-base-300': !isPlaying() && !isRRatedDisabled(),
          'cursor-pointer': !edit && !isPlaying() && !isRRatedDisabled()
      }"
      @click="if (!edit && !isPlaying() && !isRRatedDisabled()) { $store.player.play(video.path) }"
    >
      <p
        class="flex items-center"
        @click.stop="if (!isPlaying() && !isRRatedDisabled()) { $store.player.play(video.path) }"
        :class="{'cursor-pointer': !isPlaying() && !isRRatedDisabled()}"
      >
        <img x-show="video.image" class="max-w-24 max-h-24 border border-accent row-span-2 mr-2" :src="video.image">
        <span
          class="grow flex items-center gap-1.5 md:gap-2 text-sm md:text-base pr-2.5"
          :class="{'text-gray-400': !isPlaying() && isRRatedDisabled()}"
        >
          <span class="italic font-bold grow" x-text="video.title"></span>
          <span x-show="video.isRRated" class="badge badge-sm md:badge-md badge-error">R</span>
          <span
            class="badge badge-sm md:badge-md badge-accent"
            x-show="video.duration > 0"
            x-text="$store.player.formatDuration(video.duration)"
          ></span>
        </span>

        <span
          class="md:tooltip md:tooltip-left"
          data-tip="Edit this video"
          x-show="$store.conn.isAdmin && !edit"
        >
          <button
            class="btn btn-xs btn-ghost btn-square"
            @click.stop="resetEdit(true)"
          >
            <span class="iconify h-6 w-6" data-icon="mdi:lead-pencil"></span>
          </button>
        </span>
      </p>
      <p
        class="mt-1 text-sm"
        :class="{'text-gray-400': !isPlaying() && isRRatedDisabled()}"
        x-show="!edit && video.description"
        x-text="video.description"
      ></p>

      {% include "playlist_editor.njk" %}
    </div>
  </template>
</div>
