<div
  class="flex gap-2 justify-center items-center text-center text-base md:text-lg my-1"
  :class="{'animate-pulse': !$store.player.currentlyPlaying}"
>
  <span class="font-bold italic" x-text="$store.player.currentlyPlayingVideo('title') || 'Loading...'"></span>
  <span class="badge badge-error md:badge-lg" x-show="$store.player.currentlyPlayingVideo('isRRated')">R</span>
</div>

<div
  class="flex items-center text-base md:text-xl space-x-3 mx-2 md:mx-0 md:mb-1"
  x-title="elapsed"
  x-data="{duration: $persist(true).as('playerShowDuration')}"
>
  {% for name in ['position', 'duration', 'timeleft'] %}
    <div
      class="!flex{% if name !== 'position' %} cursor-pointer hover:text-secondary md:tooltip md:tooltip-left md:tooltip-secondary z-20{% endif %}"
      {% if name === 'position' %}
        :class="{'text-error animate-pulse': $store.player.paused}"
      {% else %}
        x-show.important="{% if name === 'timeleft' %}!{% endif %}duration"
        @click="duration = !duration"
        data-tip="Switch to {% if name === 'timeleft' %}duration{% else %}time left {% endif %}"
      {% endif %}
    >
      {% if name === 'timeleft' %}
        <span>-</span>
      {% endif %}
      <span x-text="$store.player.pretty{{ name|title }}()"></span>
    </div>

    {% if name === 'position' %}
      <div
        class="!flex z-10 grow"
        :class="{'md:tooltip md:tooltip-bottom md:tooltip-secondary': $store.player.playing}"
        :data-tip="$store.player.playing && `Go to ${$store.player.formatDuration(tooltipPosition)}`"
        @mousemove="(event) => {
          tooltipPosition = $store.player.playing ? Math.round(eventPosition(event)) : 0
        }"
        @click="(event) => $store.player.setPosition(eventPosition(event))"
        x-data="{
          tooltipPosition: 0,
          eventPosition (event) {
            return event.offsetX / $el.clientWidth * $store.player.duration
          }
        }"
      >
        <progress class="progress h-3 md:h-5" x-show="!$store.player.playing"></progress>
        <progress
          class="progress grow h-3 md:h-5 cursor-pointer hover:progress-secondary"
          :class="$store.player.paused && 'progress-error animate-pulse'"
          x-show="$store.player.playing" :value="$store.player.position" :max="$store.player.duration"
        ></progress>
      </div>
    {% endif %}
  {% endfor %}
</div>

{# TODO better button layout ion mobile #}
<div class="btn-group flex justify-center">
  <div class="md:tooltip md:tooltip-bottom" :data-tip="$store.player.paused ? 'Unpause' : 'Pause'">
    <button
      class="btn"
      :class="$store.player.paused ? 'animate-pulse' : 'btn-ghost'"
      :disabled="!$store.player.playing"
      @click="$store.player.playPause()"
    >
      <span
        class="iconify h-7 w-7 md:h-8 md:w-8"
        :data-icon="$store.player.paused ? 'mdi:play' : 'mdi:pause'"
      ></span>
    </button>
  </div>
  {%
    for command, icon, amount, tooltip in [
      ['setPosition', 'mdi:rewind', '0', 'Rewind to beginning'],
      ['seek', 'mdi:rewind-60', '-60', 'Rewind 60 seconds'],
      ['seek', 'mdi:rewind-15', '-15', 'Rewind 15 seconds'],
      ['seek', 'mdi:fast-forward-15', '15', 'Fast forward 15 seconds'],
      ['seek', 'mdi:fast-forward-60', '60', 'Fast forward 60 seconds']
    ]
  %}
    <div class="md:tooltip md:tooltip-bottom" data-tip="{{ tooltip }}">
      <button
        class="btn btn-ghost{% if amount|abs === 60 %} hidden md:inline-flex{% endif %}"
        :class="{'pointer-events-none': !$store.player.playing}"
        :disabled="!$store.player.playing"
        @click="$store.player.{{ command }}({{ amount }})"
      >
        <span class="iconify h-7 w-7 md:h-8 md:w-8" data-icon="{{ icon }}"></span>
      </button>
    </div>
  {% endfor %}
  <div class="md:tooltip md:tooltip-bottom" :data-tip="$store.player.muted ? 'Unmute' : 'Mute'">
    <button
      class="btn"
      :class="$store.player.muted ? 'btn-error animate-pulse' : 'btn-ghost'"
      @click="$store.player.toggleMute()"
    >
      <span
        class="iconify h-7 w-7 md:h-8 md:w-8"
        :data-icon="$store.player.muted ? 'mdi:volume-mute' : 'mdi:volume-high'"
      ></span>
    </button>
  </div>
  <div class="md:tooltip md:tooltip-bottom" data-tip="Shuffle (play random)">
    <button class="btn btn-ghost" @click="$store.player.playRandom()">
      <span class="iconify h-7 w-7 md:h-8 md:w-8" data-icon="mdi:shuffle-variant"></span>
    </button>
  </div>
</div>
