<div
  class="flex gap-2 justify-center items-center text-center text-lg italic mb-1"
  :class="{'animate-pulse': !$store.player.currentlyPlaying}"
>
  <span x-text="$store.player.currentlyPlayingVideo('title') || 'Loading...'"></span>
  <span x-show="$store.player.currentlyPlayingVideo('isRRated')" class="badge badge-error">R</span>
</div>

<div
  class="flex items-center text-base md:text-xl space-x-3 mx-2 md:mx-0 md:mb-1"
  x-title="elapsed"
  x-data="{duration: $persist(true).as('playerShowDuration')}"
>
  {% for name in ['position', 'duration', 'timeleft'] %}
    <div
      class="flex{% if name !== 'position' %} cursor-pointer hover:text-primary{% endif %}"
      {% if name !== 'position' %}
        x-show="{% if name === 'timeleft' %}!{% endif %}duration"
        @click="duration = !duration"
      {% endif %}
    >
      {% if name === 'timeleft' %}
        <span>-</span>
      {% endif %}
      <span x-text="$store.player.pretty{{ name|title }}()"></span>
    </div>

    {% if name === 'position' %}
      <progress class="progress grow h-2 md:h-5" x-show="!$store.player.playing"></progress>
      <progress
        class="progress grow h-2 md:h-5 cursor-pointer hover:progress-primary"
        x-show="$store.player.playing" :value="$store.player.position" :max="$store.player.duration"
        @click="(event) => $store.player.setPosition(event.offsetX / $el.clientWidth * $store.player.duration)"
      ></progress>
    {% endif %}
  {% endfor %}
</div>

<div class="btn-group flex justify-center">
  <button class="btn btn-ghost" :disabled="!$store.player.playing">
    <span
      class="iconify h-6 w-6 md:h-8 md:w-8"
      :data-icon="$store.player.paused ? 'mdi:pause' : 'mdi:play'"
    ></span>
  </button>
  {%
    for command, icon, amount in [
      ['setPosition', 'mdi:rewind', '0'],
      ['seek', 'mdi:rewind-15', '-15'],
      ['seek', 'mdi:fast-forward-15', '15']
    ]
  %}
    <button
      class="btn btn-ghost"
      :class="{'pointer-events-none': !$store.player.playing}"
      @click="$store.player.{{ command }}({{ amount }})"
    >
      <span class="iconify h-6 w-6 md:h-8 md:w-8" data-icon="{{ icon }}"></span>
    </button>
  {% endfor %}
  <button class="btn btn-ghost" @click="$store.player.playRandom()">
    <span class="iconify h-6 w-6 md:h-8 md:w-8" data-icon="mdi:shuffle-variant"></span>
  </button>
</div>
